<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-user"></i>
        <p>
            Tài Khoản
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="permissions" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Phân Quyền</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="accounts" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tài Khoản</p>
            </a>
        </li>
    </ul>
</li>
