<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-laptop-code"></i>
        <p>
            Sản Phẩm
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="brands" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Thương Hiệu</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="categories" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Loại Sản Phẩm</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="attributes" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Thuộc Tính</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="products" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sản Phẩm</p>
            </a>
        </li>
    </ul>
</li>
