@using Microsoft.AspNet.Identity
@{
    Layout = null;
}


<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><img src="" id="main__logo" style="height:80px;" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="dropdown megamenu-fw">
                        <a href="/products" class="nav-link dropdown-toggle">Product</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@User.Identity.Name</a>

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="/Carts">Cart</a></li>
                            <li><a href="/Addresses">Addresses</a></li>
                            <li><a href="/Invoices">Invoices</a></li>
                            <li><a href="/Manage/ChangePassword">ChangePassword</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Account/Login">Login</a></li>
                    }
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->

<div class="alert"
     id="message"
     style="position: fixed;width:100vw;z-index:1"
     role="alert">
    <span id="message-text"></span>
</div>
