
<div class="navigation">
    <div class="container">
        <nav class="nav">
            <div class="nav__hamburger">
                <i class="fas fa-bars"></i>
            </div>

            <div class="nav__logo">
                <a href="/" class="srcoll-link">PHONE</a>
            </div>

            <div class="nav__menu">
                <div class="menu__top">
                    <span class="nav__category">PHONE</span>
                    <a href="#" class="close__toggle">
                        <i class="fas fa-times"></i>
                    </a>
                </div>

                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#header" class="nav__link scroll-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#category" class="nav__link scroll-link">Caterogy</a>
                    </li>
                    <li class="nav__item">
                        <a href="#news" class="nav__link scroll-link">Blog</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link scroll-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="nav__icons">
                <a href="#" class="icon__item">
                    <i class="fas fa-user"></i>
                </a>
                <a href="#" class="icon__item">
                    <i class="fas fa-search"></i>
                </a>
                <a href="#" class="icon__item">
                    <i class="fas fa-shopping-basket"></i>
                    <span id="cart__total">0</span>
                </a>
            </div>
        </nav>
    </div>
</div>