@model IEnumerable<DreamTeam.Models.Store.InvoiceDetail>
@{
    ViewBag.Title = "Home Page";
}

<form action="/api/client_invoices" method="post">

    <input type="hidden" name="InvoiceDetail[0].ProductId" value="453453" />
    <input type="hidden" name="InvoiceDetail[0].Quantity" value="78" />
    <input type="hidden" name="InvoiceDetail[0].Price" value="21" />


    <button type="submit">submit</button>
</form>
